{% extends 'base.html.twig' %}

{% block body %}
 <body>
 <div class="m-wrapper" id="m-wrapper">
  <header id="m-header">
   <div class="m-lg_outer m-header">
    <div class="container">
     <nav class="m-main_nav style">
      <ul>
       <li>
        <a href="index_01.html">HOME</a>
        <ul class="m-sub_nav">
         <li><a href="index_creatives.html">Home Creatives</a></li>
         <li><a href="index_photography.html">Home Photography</a></li>
         <li><a href="index_grid_thumbs.html">Home Grid</a></li>
         <li><a href="index_large.html">Home Large Blocks</a></li>
         <li><a href="index_architect.html">Home Architect</a></li>
         <li><a href="index_large_details.html">Home Large with Details</a></li>
         <li><a href="index_full_blocks.html">Home full Blocks</a></li>
         <li><a href="index_logo_position.html">Home logo position</a></li>
         <li><a href="index_altr_menu.html">Home Alternate menu</a></li>
        </ul>
       </li>
       <li><a href="services.html">SERVICES</a></li>
       <li>
        <a href="portfolio_01.html">PORTFOLIO</a>
        <ul class="m-sub_nav">
         <li><a href="portfolio_01.html">Portfolio 1</a></li>
         <li><a href="portfolio_02.html">Portfolio 2</a></li>
         <li><a href="portfolio_03.html">Portfolio 3</a></li>
         <li><a href="portfolio_04.html">Portfolio 4</a></li>
         <li><a href="portfolio_single.html">Portfolio Single </a></li>
        </ul>
       </li>
       <li>
        <a href="#">PAGES</a>
        <ul class="m-sub_nav">
         <li><a href="error.html">Error</a></li>
         <li><a href="faq.html">Faq</a></li>
         <li><a href="coming_soon.html">Coming Soon</a></li>
        </ul>
       </li>
       <li>
        <a href="team_members.html">TEAM</a>
        <ul class="m-sub_nav">
         <li><a href="team_members.html">Team</a></li>
         <li><a href="single_team.html">Single Team</a></li>
        </ul>
       </li>
       <li>
        <a href="blog.html">BLOG</a>
        <ul class="m-sub_nav">
         <li><a href="blog_full.html">Blog Full</a></li>
         <li><a href="blog_masonry.html">Blog Masonry</a></li>
         <li><a href="blog_single.html">Blog Single</a></li>
        </ul>
       </li>
       <li>
        <a href="index_shop.html">SHOP</a>
        <ul class="m-sub_nav">
         <li><a href="shop_single.html">Single Shop</a></li>
        </ul>
       </li>
       <li>
        <a href="contact.html">CONTACT</a>
       </li>
      </ul>
     </nav>
     <i class="fa fa-search" id="m-search_pop"></i>
    </div>
    <div class="m-shopping_bag">
     <i class="fa fa-shopping-bag"></i>
     <span>2</span>
    </div>
    <div class="m-cart_popup">
     <div class="m-pop_prod_list">
      <div class="m-pop_single clearfix">
       <div class="m-pop_text pull-left">
        <a href="#">T-Shirt Print</a>
        <span>1 x $25.00</span>
       </div>
       <div class="pull-right">
        <img src="{{ asset('bundles/frontpage/assets/images/popup_product.jpg') }}" class="img-responsive" alt="">
        <i class="fa fa-times-circle"></i>
       </div>
      </div>
     </div>
     <div class="m-prod_pop_total">
      <span>Subtotal: <strong>$25.00</strong></span>
     </div>
     <div class="m-prod_pop_button">
      <a href="#" class="m-but">cart <i class="fa fa-long-arrow-right"></i></a>
      <a href="#" class="m-but">checkout</a>
     </div>
    </div>
   </div>
  </header>
  <div class="m-main_slider">
   <div class="m-logo">
    <a href="index.html"><img src="{{ asset('bundles/frontpage/assets/images/logo.png') }}" class="img-responsive" alt=""></a>
   </div>
   <div id="m-main_slider">
    <div>
     <img src="{{ asset('bundles/frontpage/assets/images/slider_01.jpg') }}" class="img-responsive" alt="">
    </div>
    <div>
     <img src="{{ asset('bundles/frontpage/assets/images/slider_02.jpg') }}" class="img-responsive" alt="">
    </div>
   </div>
   <div class="m-main_slide_nav">
    <a href="javascript:void(0)" class="m-slide_left" id="m-slide_left"><i class="fa fa-angle-left"></i></a>
    <a href="javascript:void(0)" class="m-slide_right" id="m-slide_right"><i class="fa fa-angle-right"></i></a>
   </div>
  </div>
  <section id="m-welcome_msg">
   <div class="container">
    <div class="m-welcome_msg row m-m90">
     <h1>WELCOME TO OUR COMPANY</h1>
     <p>
      Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social, environmental and aesthetic considerations. It requires the creative manipulation and coordination of materials and technology, and of light and shadow. Often, conflicting requirements must be resolved.
     </p>
    </div>
   </div>
  </section>
  <section id="m-service_block">
   <div class="m-lg_outer">
    <div class="m-service_block row m-shape_outer">
     <img src="{{ asset('bundles/frontpage/assets/images/services_bg.jpg') }}" class="img-responsive" alt="">
     <div class="m-shape_bg m-shape_bg_dark m-shape_bg_right">
      <div class="m-service_text">
       <h2>Services</h2>
       <p>
        In the late 20th century a new concept was added to those included in the compass of both structure and function, the consideration of sustainability, hence sustainable architecture
        To satisfy the contemporary ethos a building should be constructed in a manner...
       </p>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section id="m-service_idea">
   <div class="container">
    <div class="m-service_idea row m-m90">
     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h3>Making Ideas</h3>
      <p>Architecture has to do with planning, designing and constructing form space and ambience to reflect. </p>
      <i class="fa fa-lightbulb-o"></i>
     </div>
     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h3>Implementing</h3>
      <p>Architecture has to do with planning, designing and constructing form space and ambience to reflect.</p>
      <i class="fa fa-compass"></i>
     </div>
     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h3>Conclusions</h3>
      <p>Architecture has to do with planning, designing and constructing form space and ambience to reflect.</p>
      <i class="fa fa-pencil-square-o"></i>
     </div>
    </div>
   </div>
  </section>
  <section id="m-service_types">
   <div class="container">
    <div class="m-service_type row">
     <div class="clearfix">
      <div class="m-service_type_text">
       <h3>Interior</h3>
       <p>Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social, environmental and aesthetic considerations.</p>
      </div>
      <div class="m-service_type_img">
       <img src="{{ asset('bundles/frontpage/assets/images/service_01.jpg') }}" class="img-responsive" alt="">
      </div>
     </div>
     <div class="clearfix">
      <div class="m-service_type_text">
       <h3>Exterior</h3>
       <p>Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social, environmental and aesthetic considerations.</p>
      </div>
      <div class="m-service_type_img">
       <img src="{{ asset('bundles/frontpage/assets/images/service_02.jpg') }}" class="img-responsive" alt="">
      </div>
     </div>
     <div class="clearfix">
      <div class="m-service_type_text">
       <h3>Multifunctional Offices</h3>
       <p>Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social, environmental and aesthetic considerations.</p>
      </div>
      <div class="m-service_type_img">
       <img src="{{ asset('bundles/frontpage/assets/images/service_03.jpg') }}" class="img-responsive" alt="">
      </div>
     </div>
     <div class="clearfix">
      <div class="m-service_type_text">
       <h3>Excelent Designers</h3>
       <p>Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social, environmental and aesthetic considerations.</p>
      </div>
      <div class="m-service_type_img">
       <img src="{{ asset('bundles/fontpage/assets/images/service_04.jpg') }}" class="img-responsive" alt="">
      </div>
     </div>
    </div>
   </div>
  </section>
  <section id="m-portfolio">
   <div class="container">
    <div class="m-portfolio_section m-mt90">
     <div class="m-portfolio_items clearfix">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
       <div class="m-portfolio_info">
        <img class="img-responsive" alt="" src="{{ asset('bundles/frontpage/assets/images/portfolio_01.jpg') }}">
        <div class="m-portfolio_info_text">
         <div>
          <i class="fa fa-expand  m-expand_popup"></i>
          <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
          <h3><a href="#">Earphones</a></h3>
          <ul>
           <li><a href="#">interior</a></li>
           <li><a href="#">architecture</a></li>
          </ul>
         </div>
        </div>
       </div>
       <div class="m-portfolio_popup">
        <div class="container">
         <div class="m-portfolio_popup_outer">
          <div class="m-close_popup">
           <i class="fa fa-times"></i>
          </div>
          <div class="m-popup_slider m-blog_slider_outer">
           <div class="m-blog_list_img" id="m-portfolio_01">
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
           </div>
           <div class="m-main_slide_nav">
            <a class="m-slide_left" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
            <a class="m-slide_right" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
           </div>
          </div>
          <div class="m-portfolio_single_text clearfix">
           <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <p>
             The future of architecture constantly evolves as society grows and adopts different technologies. The introduction of more technologies allows for a the greater opportunity for creativity and innovation. One concept, known as “Healing Architecture,” or the designing of hospitals and healthcare facilities in such a way to promote the healing of its occupants, has been researched for numerous years.
            </p>
           </div>
           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
            <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
            <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
       <div class="m-portfolio_info">
        <img class="img-responsive" alt="" src="{{ asset('bundles/frontpage/assets/images/portfolio_02.jpg') }}">
        <div class="m-portfolio_info_text">
         <div>
          <i class="fa fa-expand  m-expand_popup"></i>
          <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
          <h3><a href="#">Earphones</a></h3>
          <ul>
           <li><a href="#">interior</a></li>
           <li><a href="#">architecture</a></li>
          </ul>
         </div>
        </div>
       </div>
       <div class="m-portfolio_popup">
        <div class="container">
         <div class="m-portfolio_popup_outer">
          <div class="m-close_popup">
           <i class="fa fa-times"></i>
          </div>
          <div class="m-popup_slider m-blog_slider_outer">
           <div class="m-blog_list_img" id="m-portfolio_02">
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
           </div>
           <div class="m-main_slide_nav">
            <a class="m-slide_left" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
            <a class="m-slide_right" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
           </div>
          </div>
          <div class="m-portfolio_single_text clearfix">
           <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <p>
             The future of architecture constantly evolves as society grows and adopts different technologies. The introduction of more technologies allows for a the greater opportunity for creativity and innovation. One concept, known as “Healing Architecture,” or the designing of hospitals and healthcare facilities in such a way to promote the healing of its occupants, has been researched for numerous years.
            </p>
           </div>
           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
            <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
            <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
       <div class="m-portfolio_info">
        <img class="img-responsive" alt="" src="{{ asset('bundles/frontpage/assets/images/portfolio_03.jpg') }}">
        <div class="m-portfolio_info_text">
         <div>
          <i class="fa fa-expand  m-expand_popup"></i>
          <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
          <h3><a href="#">Earphones</a></h3>
          <ul>
           <li><a href="#">interior</a></li>
           <li><a href="#">architecture</a></li>
          </ul>
         </div>
        </div>
       </div>
       <div class="m-portfolio_popup">
        <div class="container">
         <div class="m-portfolio_popup_outer">
          <div class="m-close_popup">
           <i class="fa fa-times"></i>
          </div>
          <div class="m-popup_slider m-blog_slider_outer">
           <div class="m-blog_list_img" id="m-portfolio_03">
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
           </div>
           <div class="m-main_slide_nav">
            <a class="m-slide_left" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
            <a class="m-slide_right" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
           </div>
          </div>
          <div class="m-portfolio_single_text clearfix">
           <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <p>
             The future of architecture constantly evolves as society grows and adopts different technologies. The introduction of more technologies allows for a the greater opportunity for creativity and innovation. One concept, known as “Healing Architecture,” or the designing of hospitals and healthcare facilities in such a way to promote the healing of its occupants, has been researched for numerous years.
            </p>
           </div>
           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
            <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
            <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
       <div class="m-portfolio_info">
        <img class="img-responsive" alt="" src="{{ asset('bundles/frontpage/assets/images/portfolio_04.jpg') }}">
        <div class="m-portfolio_info_text">
         <div>
          <i class="fa fa-expand  m-expand_popup"></i>
          <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
          <h3><a href="#">Earphones</a></h3>
          <ul>
           <li><a href="#">interior</a></li>
           <li><a href="#">architecture</a></li>
          </ul>
         </div>
        </div>
       </div>
       <div class="m-portfolio_popup">
        <div class="container">
         <div class="m-portfolio_popup_outer">
          <div class="m-close_popup">
           <i class="fa fa-times"></i>
          </div>
          <div class="m-popup_slider m-blog_slider_outer">
           <div class="m-blog_list_img" id="m-portfolio_04">
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
           </div>
           <div class="m-main_slide_nav">
            <a class="m-slide_left" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
            <a class="m-slide_right" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
           </div>
          </div>
          <div class="m-portfolio_single_text clearfix">
           <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <p>
             The future of architecture constantly evolves as society grows and adopts different technologies. The introduction of more technologies allows for a the greater opportunity for creativity and innovation. One concept, known as “Healing Architecture,” or the designing of hospitals and healthcare facilities in such a way to promote the healing of its occupants, has been researched for numerous years.
            </p>
           </div>
           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
            <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
            <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
       <div class="m-portfolio_info">
        <img class="img-responsive" alt="" src="{{ asset('bundles/frontpage/assets/images/portfolio_05.jpg') }}">
        <div class="m-portfolio_info_text">
         <div>
          <i class="fa fa-expand  m-expand_popup"></i>
          <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
          <h3><a href="#">Earphones</a></h3>
          <ul>
           <li><a href="#">interior</a></li>
           <li><a href="#">architecture</a></li>
          </ul>
         </div>
        </div>
       </div>
       <div class="m-portfolio_popup">
        <div class="container">
         <div class="m-portfolio_popup_outer">
          <div class="m-close_popup">
           <i class="fa fa-times"></i>
          </div>
          <div class="m-popup_slider m-blog_slider_outer">
           <div class="m-blog_list_img" id="m-portfolio_05">
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
           </div>
           <div class="m-main_slide_nav">
            <a class="m-slide_left" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
            <a class="m-slide_right" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
           </div>
          </div>
          <div class="m-portfolio_single_text clearfix">
           <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <p>
             The future of architecture constantly evolves as society grows and adopts different technologies. The introduction of more technologies allows for a the greater opportunity for creativity and innovation. One concept, known as “Healing Architecture,” or the designing of hospitals and healthcare facilities in such a way to promote the healing of its occupants, has been researched for numerous years.
            </p>
           </div>
           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
            <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
            <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
       <div class="m-portfolio_info">
        <img class="img-responsive" alt="" src="{{ asset('bundles/frontpage/assets/images/portfolio_06.jpg') }}">
        <div class="m-portfolio_info_text">
         <div>
          <i class="fa fa-expand  m-expand_popup"></i>
          <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
          <h3><a href="#">Earphones</a></h3>
          <ul>
           <li><a href="#">interior</a></li>
           <li><a href="#">architecture</a></li>
          </ul>
         </div>
        </div>
       </div>
       <div class="m-portfolio_popup">
        <div class="container">
         <div class="m-portfolio_popup_outer">
          <div class="m-close_popup">
           <i class="fa fa-times"></i>
          </div>
          <div class="m-popup_slider m-blog_slider_outer">
           <div class="m-blog_list_img" id="m-portfolio_06">
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
           </div>
           <div class="m-main_slide_nav">
            <a class="m-slide_left" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
            <a class="m-slide_right" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
           </div>
          </div>
          <div class="m-portfolio_single_text clearfix">
           <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <p>
             The future of architecture constantly evolves as society grows and adopts different technologies. The introduction of more technologies allows for a the greater opportunity for creativity and innovation. One concept, known as “Healing Architecture,” or the designing of hospitals and healthcare facilities in such a way to promote the healing of its occupants, has been researched for numerous years.
            </p>
           </div>
           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
            <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
            <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
       <div class="m-portfolio_info">
        <img class="img-responsive" alt="" src="{{ asset('bundles/frontpage/assets/images/portfolio_07.jpg') }}">
        <div class="m-portfolio_info_text">
         <div>
          <i class="fa fa-expand  m-expand_popup"></i>
          <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
          <h3><a href="#">Earphones</a></h3>
          <ul>
           <li><a href="#">interior</a></li>
           <li><a href="#">architecture</a></li>
          </ul>
         </div>
        </div>
       </div>
       <div class="m-portfolio_popup">
        <div class="container">
         <div class="m-portfolio_popup_outer">
          <div class="m-close_popup">
           <i class="fa fa-times"></i>
          </div>
          <div class="m-popup_slider m-blog_slider_outer">
           <div class="m-blog_list_img" id="m-portfolio_07">
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
           </div>
           <div class="m-main_slide_nav">
            <a class="m-slide_left" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
            <a class="m-slide_right" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
           </div>
          </div>
          <div class="m-portfolio_single_text clearfix">
           <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <p>
             The future of architecture constantly evolves as society grows and adopts different technologies. The introduction of more technologies allows for a the greater opportunity for creativity and innovation. One concept, known as “Healing Architecture,” or the designing of hospitals and healthcare facilities in such a way to promote the healing of its occupants, has been researched for numerous years.
            </p>
           </div>
           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
            <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
            <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
       <div class="m-portfolio_info">
        <img class="img-responsive" alt="" src="{{ asset('bundles/frontpage/assets/images/portfolio_08.jpg') }}">
        <div class="m-portfolio_info_text">
         <div>
          <i class="fa fa-expand  m-expand_popup"></i>
          <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
          <h3><a href="#">Earphones</a></h3>
          <ul>
           <li><a href="#">interior</a></li>
           <li><a href="#">architecture</a></li>
          </ul>
         </div>
        </div>
       </div>
       <div class="m-portfolio_popup">
        <div class="container">
         <div class="m-portfolio_popup_outer">
          <div class="m-close_popup">
           <i class="fa fa-times"></i>
          </div>
          <div class="m-popup_slider m-blog_slider_outer">
           <div class="m-blog_list_img" id="m-portfolio_08">
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
           </div>
           <div class="m-main_slide_nav">
            <a class="m-slide_left" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
            <a class="m-slide_right" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
           </div>
          </div>
          <div class="m-portfolio_single_text clearfix">
           <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <p>
             The future of architecture constantly evolves as society grows and adopts different technologies. The introduction of more technologies allows for a the greater opportunity for creativity and innovation. One concept, known as “Healing Architecture,” or the designing of hospitals and healthcare facilities in such a way to promote the healing of its occupants, has been researched for numerous years.
            </p>
           </div>
           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
            <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
            <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
       <div class="m-portfolio_info">
        <img class="img-responsive" alt="" src="{{ asset('bundles/frontpage/assets/images/portfolio_09.jpg') }}">
        <div class="m-portfolio_info_text">
         <div>
          <i class="fa fa-expand  m-expand_popup"></i>
          <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
          <h3><a href="#">Earphones</a></h3>
          <ul>
           <li><a href="#">interior</a></li>
           <li><a href="#">architecture</a></li>
          </ul>
         </div>
        </div>
       </div>
       <div class="m-portfolio_popup">
        <div class="container">
         <div class="m-portfolio_popup_outer">
          <div class="m-close_popup">
           <i class="fa fa-times"></i>
          </div>
          <div class="m-popup_slider m-blog_slider_outer">
           <div class="m-blog_list_img" id="m-portfolio_09">
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
            <div>
             <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
            </div>
           </div>
           <div class="m-main_slide_nav">
            <a class="m-slide_left" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
            <a class="m-slide_right" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
           </div>
          </div>
          <div class="m-portfolio_single_text clearfix">
           <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <p>
             The future of architecture constantly evolves as society grows and adopts different technologies. The introduction of more technologies allows for a the greater opportunity for creativity and innovation. One concept, known as “Healing Architecture,” or the designing of hospitals and healthcare facilities in such a way to promote the healing of its occupants, has been researched for numerous years.
            </p>
           </div>
           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
            <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
            <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section id="m-why_us">
   <div class="container">
    <div class="m-why_us">
     <h2>WHY MINTY?</h2>
     <p>
      Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social, environmental and aesthetic considerations. It requires the creative manipulation and coordination.
     </p>
    </div>
   </div>
  </section>
  <section id="m-team">
   <div class="container">
    <div class="m-team_section">
     <div class="m-section_header">
      <h2>MEET THE TEAM</h2>
     </div>
    </div>
   </div>
   <div class="clearfix m-lg_outer m-team_member">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
     <img src="{{ asset('bundles/frontpage/assets/images/team_01.jpg') }}" class="img-responsive" alt="">
     <div class="m-member_info">
      <a href="#">Martin Smit</a>
      <span>CEO & Founder of Minty</span>
      <ul class="m-social_icon">
       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
       <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
       <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      </ul>
     </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
     <img src="{{ asset('bundles/frontpage/assets/images/team_02.jpg') }}" class="img-responsive" alt="">
     <div class="m-member_info">
      <a href="#">Martin Smit</a>
      <span>CEO & Founder of Minty</span>
      <ul class="m-social_icon">
       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
       <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
       <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      </ul>
     </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
     <img src="{{ asset('bundles/frontpage/assets/images/team_03.jpg') }}" class="img-responsive" alt="">
     <div class="m-member_info">
      <a href="#">Martin Smit</a>
      <span>CEO & Founder of Minty</span>
      <ul class="m-social_icon">
       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
       <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
       <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      </ul>
     </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
     <img src="{{ asset('bundles/frontpage/assets/images/team_04.jpg') }}" class="img-responsive" alt="">
     <div class="m-member_info">
      <a href="#">Martin Smit</a>
      <span>CEO & Founder of Minty</span>
      <ul class="m-social_icon">
       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
       <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
       <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
      </ul>
     </div>
    </div>
   </div>
  </section>
  <section id="m-line_graph">
   <div class="container clearfix m-mt90 m-line_graph">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
     <h3>Some text goes here</h3>
     <p>Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social, environmental and aesthetic considerations. It requires the creative manipulation and coordination of materials and technology, and of light and shadow. </p>

     <p>Often, conflicting requirements must be resolved. The practice of Architecture also encompasses the pragmatic aspects of realizing buildings and structures. </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 m-line_grahp">
     <div class="row">
      <div class="m-line_graph_single">
       <span>ARCHITECTURE</span>
       <div class="m-line_graph_bar">
        <div>
         <span data-attr="90"></span>
        </div>
       </div>
      </div>
      <div class="m-line_graph_single">
       <span>INTERIOR</span>
       <div class="m-line_graph_bar">
        <div>
         <span data-attr="40"></span>
        </div>
       </div>
      </div>
      <div class="m-line_graph_single">
       <span>WORDPRESS</span>
       <div class="m-line_graph_bar">
        <div>
         <span data-attr="80"></span>
        </div>
       </div>
      </div>
      <div class="m-line_graph_single">
       <span>FRONT END</span>
       <div class="m-line_graph_bar">
        <div>
         <span data-attr="50"></span>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <div id="m-counter">
   <div class="m-counter m-mt90">
    <img src="{{ asset('bundles/frontpage/assets/images/counter_bg.jpg') }}" class="img-responsive" alt="">
    <div class="m-counter_outer">
     <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
       <span class="m-counter_number">1496</span>
       <span>Smiling Clients</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
       <span class="m-counter_number">1500</span>
       <span>Coffes drink</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
       <span class="m-counter_number">59</span>
       <span>Awards</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
       <span class="m-counter_number">47</span>
       <span>Projects Done</span>
      </div>
     </div>
    </div>
   </div>
  </div>
  <section id="m-price_table">
   <div class="container">
    <div class="m-price_section">
     <div class="m-section_header">
      <h2>PRICING TABLES</h2>
      <span>some other text goes here</span>
     </div>
    </div>
    <div class="m-price_blocks clearfix">
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="m-single_price_inner">
       <h3>STANDARD</h3>
       <div class="m-table_price">
        <span class="m-price">$35</span>
        <span class="m-price_time">month</span>
       </div>
       <ul class="m-price_offers">
        <li>Customer Support 24/7</li>
        <li>Lifetime Updates</li>
        <li>20GB Cloud Storage</li>
        <li>20 E-mail boxes</li>
        <li>Smily Guarantee</li>
       </ul>
       <a class="m-but_blank_link" href="#">Subscribe</a>
      </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="m-single_price_inner">
       <h3>PREMIUM</h3>
       <div class="m-table_price">
        <span class="m-price">$55</span>
        <span class="m-price_time">month</span>
       </div>
       <ul class="m-price_offers">
        <li>Customer Support 24/7</li>
        <li>Lifetime Updates</li>
        <li>20GB Cloud Storage</li>
        <li>20 E-mail boxes</li>
        <li>Smily Guarantee</li>
       </ul>
       <a class="m-but_blank_link" href="#">Subscribe</a>
      </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="m-single_price_inner">
       <h3>ULTRA</h3>
       <div class="m-table_price">
        <span class="m-price">$75</span>
        <span class="m-price_time">month</span>
       </div>
       <ul class="m-price_offers">
        <li>Customer Support 24/7</li>
        <li>Lifetime Updates</li>
        <li>20GB Cloud Storage</li>
        <li>20 E-mail boxes</li>
        <li>Smily Guarantee</li>
       </ul>
       <a class="m-but_blank_link" href="#">Subscribe</a>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section id="m-user_review">
   <div class="container m-user_review">
    <div class="m-user_review_list" id="m-user_review_list">
     <div>
      <p>
       “When you look at Japanese traditional architecture, you have to look at Japanese culture and its relationship with nature. You can actually live in a harmonious, close contact with nature - this very unique to Japan.”
      </p>
      <div class="m-user_review_info">
       <h4>Tadao Ando</h4>
       <span>architect</span>
      </div>
     </div>
     <div>
      <p>
       “When you look at Japanese traditional architecture, you have to look at Japanese culture and its relationship with nature. You can actually live in a harmonious, close contact with nature - this very unique to Japan.”
      </p>
      <div class="m-user_review_info">
       <h4>Tadao Ando</h4>
       <span>architect</span>
      </div>
     </div>
     <div>
      <p>
       “When you look at Japanese traditional architecture, you have to look at Japanese culture and its relationship with nature. You can actually live in a harmonious, close contact with nature - this very unique to Japan.”
      </p>
      <div class="m-user_review_info">
       <h4>Tadao Ando</h4>
       <span>architect</span>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section id="m-contact">
   <div class="container">
    <div class="m-contact_section">
     <div class="m-section_header">
      <h2>CONTACT</h2>
      <span>say something to us</span>
     </div>
    </div>
   </div>
   <div id="m-map" class="m-map" data-lati="42.229676" data-long="11.012229"></div>
   <div class="container">
    <div class="m-contact_info clearfix">
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <form action="#" class="clearfix">
       <input type="text" name="name" placeholder="Your Name">
       <input type="email" name="email" placeholder="Email" class="pull-right">
       <textarea name="message" placeholder="Message"></textarea>
       <button>send message</button>
      </form>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
       <p>
        5th Floor <br>
        44 Johny Bravo Street <br>
        Boston <br>
        United States of America <br>
        40000 3CF <br>
        <a href="tel:0800123456789">0 800 123 456 789</a>
       </p>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 pull-right">
       <p>
        1st Floor <br>
        58 Tom Cruz Street <br>
        Toronto <br>
        Canada <br>
        145866 2CF <br>
        <a href="tel:0800123456789">0 800 123 456 789</a>
       </p>
      </div>
     </div>
    </div>
   </div>
  </section>
  <footer id="m-footer">
   <div class="m-lg_outer m-footer m-mt90">
    <div class="container text-center">
     <a href="#" class="m-footer_logo"><img src="{{ asset('bundles/frontpage/assets/images/logo.png') }}" alt=""></a>
     <div class="m-footer_nav">
      <nav>
       <ul>
        <li><a href="index_01.html">HOME</a> </li>
        <li><a href="services.html">SERVICES</a></li>
        <li><a href="portfolio_01.html">PORTFOLIO</a></li>
        <li><a href="team_members.html">TEAM</a></li>
        <li><a href="blog.html">BLOG</a></li>
        <li><a href="index_shop.html">SHOP</a></li>
        <li><a href="contact.html">CONTACT</a> </li>
       </ul>
      </nav>
     </div>
     <ul class="m-social_icon">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
     </ul>
     <p class="m-copyright">MINTY. 2016 All rights reserved</p>
    </div>
   </div>
  </footer>
  <div class="m-search_popup">
   <div class="m-search_form">
    <form action="#">
     <input type="text" placeholder="Enter your text and hit enter">
    </form>
    <i class="fa fa-times" id="m-search_close"></i>
   </div>
  </div>
 </div>





 </body>
{% endblock %}