{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <div class="m-wrapper" id="m-wrapper">

        {{ include ('_includes/_header.html.twig') }}

        {{ include ('_includes/_presentation.html.twig') }}

        {#{{ include ('_includes/_slider.html.twig') }}#}

        {#{{ include ('_includes/_message.html.twig') }}#}



        {{ include ('_includes/_services.html.twig') }}


        {#{{ include ('_includes/_services_type.html.twig') }}#}


        {#{{ include ('_includes/_portfolio.html.twig') }}#}


        {#{{ include ('_includes/_minty.html.twig') }}#}

        {#{{ include ('_includes/_team_member.html.twig') }}#}

        {#{{ include ('_includes/_bar.html.twig') }}#}


        {#{{ include ('_includes/_counter.html.twig') }}#}


        {#{{ include ('_includes/_price_table.html.twig') }}#}


        {#{{ include ('_includes/_review.html.twig') }}#}


        {#{{ include ('_includes/_contact.html.twig') }}#}


        {{ include ('_includes/_footer.html.twig') }}


        {{ include ('_includes/_search.html.twig') }}


    </div>


    </body>
{% endblock %}