<header id="m-header">
    <div class="m-lg_outer m-header">

        <!-- MENU -->
        <div class="container">
            <nav class="m-main_nav style">
                <ul>
                    <li>
                        <a href="{{ path('site') }}">HOME</a>
                        <ul class="m-sub_nav">
                            {#<li><a href="index_creatives.html">Home Creatives</a></li>#}
                            {#<li><a href="index_photography.html">Home Photography</a></li>#}
                            {#<li><a href="index_grid_thumbs.html">Home Grid</a></li>#}
                            {#<li><a href="index_large.html">Home Large Blocks</a></li>#}
                            {#<li><a href="index_architect.html">Home Architect</a></li>#}
                            {#<li><a href="index_large_details.html">Home Large with Details</a></li>#}
                            {#<li><a href="index_full_blocks.html">Home full Blocks</a></li>#}
                            {#<li><a href="index_logo_position.html">Home logo position</a></li>#}
                            {#<li><a href="index_altr_menu.html">Home Alternate menu</a></li>#}
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('societe_index') }}">SOCIETE</a>
                        <ul class="m-sub_nav">
                            <li><a href="portfolio_01.html">Clients</a></li>
                            <li><a href="portfolio_02.html">Projets réalisés</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('multimedia_index') }}">MULTIMEDIA</a>
                        <ul class="m-sub_nav">
                            <li><a href="portfolio_01.html">Reportage photo/vidéo</a></li>
                            <li><a href="portfolio_02.html">Captation spectacle</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('developpement_index') }}">DEVELOPPEMENT</a>
                        <ul class="m-sub_nav">
                            <li><a href="error.html">Site Internet</a></li>
                            <li><a href="faq.html">Edition d'application</a></li>
                            <li><a href="coming_soon.html">Développement d'application spécifique</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('team_index') }}">TEAM</a>
                        {#<ul class="m-sub_nav">#}
                            {#<li><a href="team_members.html">Team</a></li>#}
                            {#<li><a href="single_team.html">Single Team</a></li>#}
                        {#</ul>#}
                    </li>
                    <li>
                        <a href="{{ path('formation_index') }}">FORMATION</a>
                        <ul class="m-sub_nav">
                            <li><a href="blog_full.html">Créer et gérer son blog wordpress</a></li>
                            <li><a href="blog_masonry.html">Apprendre à filmer</a></li>
                        </ul>
                    </li>
                    {#<li>#}
                        {#<a href="index_shop.html">SHOP</a>#}
                        {#<ul class="m-sub_nav">#}
                            {#<li><a href="shop_single.html">Single Shop</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    <li>
                        <a href="{{ path('contact_index') }}">CONTACT</a>
                    </li>
                </ul>
            </nav>
            <i class="fa fa-search" id="m-search_pop"></i>
        </div>
        <!-- END MENU -->

        <!-- NOTIFICATION BELL -->
        <div class="m-shopping_bag">
            <i class="fa fa-shopping-bag"></i>
            <span>2</span>
        </div>
        <!-- END NOTIFICATION BELL -->

        <div class="m-cart_popup">
            <div class="m-pop_prod_list">
                <div class="m-pop_single clearfix">
                    <div class="m-pop_text pull-left">
                        <a href="#">T-Shirt Print</a>
                        <span>1 x $25.00</span>
                    </div>
                    <div class="pull-right">
                        <img src="{{ asset('bundles/frontpage/assets/images/popup_product.jpg') }}" class="img-responsive" alt="">
                        <i class="fa fa-times-circle"></i>
                    </div>
                </div>
            </div>
            <div class="m-prod_pop_total">
                <span>Subtotal: <strong>$25.00</strong></span>
            </div>
            <div class="m-prod_pop_button">
                <a href="#" class="m-but">cart <i class="fa fa-long-arrow-right"></i></a>
                <a href="#" class="m-but">checkout</a>
            </div>
        </div>
    </div>


</header>