<!-- PORTFOLIO -->
<section id="m-portfolio">
    <div class="container">
        <div class="m-portfolio_section m-mt90">
            <div class="m-portfolio_items clearfix">

                <!-- BLOC 1 -->

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="m-portfolio_info">
                        <img class="img-responsive" alt=""
                             src="{{ asset('bundles/frontpage/assets/images/portfolio01.jpg') }}">
                        <div class="m-portfolio_info_text">
                            <div>
                                <i class="fa fa-expand  m-expand_popup"></i>
                                <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
                                <h3><a href="#">Expertise</a></h3>
                                <ul>
                                    <li><a href="#">lorem</a></li>
                                    <li><a href="#">lorem</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-portfolio_popup">
                        <div class="container">
                            <div class="m-portfolio_popup_outer">
                                <div class="m-close_popup">
                                    <i class="fa fa-times"></i>
                                </div>
                                <div class="m-popup_slider m-blog_slider_outer">
                                    <div class="m-blog_list_img" id="m-portfolio_01">
                                        <div>
                                            <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"
                                                 class="img-responsive" alt="">
                                        </div>
                                        <div>
                                            <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"
                                                 class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="m-main_slide_nav">
                                        <a class="m-slide_left" href="javascript:void(0)"><i
                                                    class="fa fa-angle-left"></i></a>
                                        <a class="m-slide_right" href="javascript:void(0)"><i
                                                    class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="m-portfolio_single_text clearfix">
                                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur earum facere harum in iusto nemo, nesciunt odit repellat sit voluptatibus. Aperiam autem beatae blanditiis consectetur deserunt enim hic nemo temporibus.
                                        </p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
                                        <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
                                        <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN BLOC 1 -->

                <!-- BLOC 2 -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="m-portfolio_info">
                        <img class="img-responsive" alt=""
                             src="{{ asset('bundles/frontpage/assets/images/portfolio_02.jpg') }}">
                        <div class="m-portfolio_info_text">
                            <div>
                                <i class="fa fa-expand  m-expand_popup"></i>
                                <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
                                <h3><a href="#">Projets</a></h3>
                                <ul>
                                    <li><a href="#">lorem</a></li>
                                    <li><a href="#">lorem</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-portfolio_popup">
                        <div class="container">
                            <div class="m-portfolio_popup_outer">
                                <div class="m-close_popup">
                                    <i class="fa fa-times"></i>
                                </div>
                                <div class="m-popup_slider m-blog_slider_outer">
                                    <div class="m-blog_list_img" id="m-portfolio_02">
                                        <div>
                                            <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"
                                                 class="img-responsive" alt="">
                                        </div>
                                        <div>
                                            <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"
                                                 class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="m-main_slide_nav">
                                        <a class="m-slide_left" href="javascript:void(0)"><i
                                                    class="fa fa-angle-left"></i></a>
                                        <a class="m-slide_right" href="javascript:void(0)"><i
                                                    class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="m-portfolio_single_text clearfix">
                                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur earum facere harum in iusto nemo, nesciunt odit repellat sit voluptatibus. Aperiam autem beatae blanditiis consectetur deserunt enim hic nemo temporibus.
                                        </p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
                                        <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
                                        <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN BLOC 2 -->

                <!-- BLOC 3 -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="m-portfolio_info">
                        <img class="img-responsive" alt=""
                             src="{{ asset('bundles/frontpage/assets/images/portfolio_03.jpg') }}">
                        <div class="m-portfolio_info_text">
                            <div>
                                <i class="fa fa-expand  m-expand_popup"></i>
                                <a href="portfolio_single.html"><i class="fa fa-search"></i></a>
                                <h3><a href="#">Techno - outils</a></h3>
                                <ul>
                                    <li><a href="#">lorem</a></li>
                                    <li><a href="#">lorem</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="m-portfolio_popup">
                        <div class="container">
                            <div class="m-portfolio_popup_outer">
                                <div class="m-close_popup">
                                    <i class="fa fa-times"></i>
                                </div>
                                <div class="m-popup_slider m-blog_slider_outer">
                                    <div class="m-blog_list_img" id="m-portfolio_03">
                                        <div>
                                            <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"
                                                 class="img-responsive" alt="">
                                        </div>
                                        <div>
                                            <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"
                                                 class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="m-main_slide_nav">
                                        <a class="m-slide_left" href="javascript:void(0)"><i
                                                    class="fa fa-angle-left"></i></a>
                                        <a class="m-slide_right" href="javascript:void(0)"><i
                                                    class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                                <div class="m-portfolio_single_text clearfix">
                                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur earum facere harum in iusto nemo, nesciunt odit repellat sit voluptatibus. Aperiam autem beatae blanditiis consectetur deserunt enim hic nemo temporibus.
                                        </p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
                                        <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
                                        <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN BLOC 3-->

                <!-- BLOC 4 -->
                {#<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
                    {#<div class="m-portfolio_info">#}
                        {#<img class="img-responsive" alt=""#}
                             {#src="{{ asset('bundles/frontpage/assets/images/portfolio_04.jpg') }}">#}
                        {#<div class="m-portfolio_info_text">#}
                            {#<div>#}
                                {#<i class="fa fa-expand  m-expand_popup"></i>#}
                                {#<a href="portfolio_single.html"><i class="fa fa-search"></i></a>#}
                                {#<h3><a href="#">Earphones</a></h3>#}
                                {#<ul>#}
                                    {#<li><a href="#">interior</a></li>#}
                                    {#<li><a href="#">architecture</a></li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="m-portfolio_popup">#}
                        {#<div class="container">#}
                            {#<div class="m-portfolio_popup_outer">#}
                                {#<div class="m-close_popup">#}
                                    {#<i class="fa fa-times"></i>#}
                                {#</div>#}
                                {#<div class="m-popup_slider m-blog_slider_outer">#}
                                    {#<div class="m-blog_list_img" id="m-portfolio_04">#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="m-main_slide_nav">#}
                                        {#<a class="m-slide_left" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-left"></i></a>#}
                                        {#<a class="m-slide_right" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-right"></i></a>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="m-portfolio_single_text clearfix">#}
                                    {#<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">#}
                                        {#<p>#}
                                            {#The future of architecture constantly evolves as society grows and adopts#}
                                            {#different technologies. The introduction of more technologies allows for a#}
                                            {#the greater opportunity for creativity and innovation. One concept, known as#}
                                            {#“Healing Architecture,” or the designing of hospitals and healthcare#}
                                            {#facilities in such a way to promote the healing of its occupants, has been#}
                                            {#researched for numerous years.#}
                                        {#</p>#}
                                    {#</div>#}
                                    {#<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">#}
                                        {#<span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>#}
                                        {#<span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>#}
                                        {#<span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <!-- FIN BLOC 4 -->

                <!-- BLOC 5 -->
                {#<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
                    {#<div class="m-portfolio_info">#}
                        {#<img class="img-responsive" alt=""#}
                             {#src="{{ asset('bundles/frontpage/assets/images/portfolio_05.jpg') }}">#}
                        {#<div class="m-portfolio_info_text">#}
                            {#<div>#}
                                {#<i class="fa fa-expand  m-expand_popup"></i>#}
                                {#<a href="portfolio_single.html"><i class="fa fa-search"></i></a>#}
                                {#<h3><a href="#">Earphones</a></h3>#}
                                {#<ul>#}
                                    {#<li><a href="#">interior</a></li>#}
                                    {#<li><a href="#">architecture</a></li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="m-portfolio_popup">#}
                        {#<div class="container">#}
                            {#<div class="m-portfolio_popup_outer">#}
                                {#<div class="m-close_popup">#}
                                    {#<i class="fa fa-times"></i>#}
                                {#</div>#}
                                {#<div class="m-popup_slider m-blog_slider_outer">#}
                                    {#<div class="m-blog_list_img" id="m-portfolio_05">#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="m-main_slide_nav">#}
                                        {#<a class="m-slide_left" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-left"></i></a>#}
                                        {#<a class="m-slide_right" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-right"></i></a>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="m-portfolio_single_text clearfix">#}
                                    {#<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">#}
                                        {#<p>#}
                                            {#The future of architecture constantly evolves as society grows and adopts#}
                                            {#different technologies. The introduction of more technologies allows for a#}
                                            {#the greater opportunity for creativity and innovation. One concept, known as#}
                                            {#“Healing Architecture,” or the designing of hospitals and healthcare#}
                                            {#facilities in such a way to promote the healing of its occupants, has been#}
                                            {#researched for numerous years.#}
                                        {#</p>#}
                                    {#</div>#}
                                    {#<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">#}
                                        {#<span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>#}
                                        {#<span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>#}
                                        {#<span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <!-- FIN BLOC 5 -->


                <!-- BLOC 6 -->
                {#<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
                    {#<div class="m-portfolio_info">#}
                        {#<img class="img-responsive" alt=""#}
                             {#src="{{ asset('bundles/frontpage/assets/images/portfolio_06.jpg') }}">#}
                        {#<div class="m-portfolio_info_text">#}
                            {#<div>#}
                                {#<i class="fa fa-expand  m-expand_popup"></i>#}
                                {#<a href="portfolio_single.html"><i class="fa fa-search"></i></a>#}
                                {#<h3><a href="#">Earphones</a></h3>#}
                                {#<ul>#}
                                    {#<li><a href="#">interior</a></li>#}
                                    {#<li><a href="#">architecture</a></li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="m-portfolio_popup">#}
                        {#<div class="container">#}
                            {#<div class="m-portfolio_popup_outer">#}
                                {#<div class="m-close_popup">#}
                                    {#<i class="fa fa-times"></i>#}
                                {#</div>#}
                                {#<div class="m-popup_slider m-blog_slider_outer">#}
                                    {#<div class="m-blog_list_img" id="m-portfolio_06">#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="m-main_slide_nav">#}
                                        {#<a class="m-slide_left" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-left"></i></a>#}
                                        {#<a class="m-slide_right" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-right"></i></a>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="m-portfolio_single_text clearfix">#}
                                    {#<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">#}
                                        {#<p>#}
                                            {#The future of architecture constantly evolves as society grows and adopts#}
                                            {#different technologies. The introduction of more technologies allows for a#}
                                            {#the greater opportunity for creativity and innovation. One concept, known as#}
                                            {#“Healing Architecture,” or the designing of hospitals and healthcare#}
                                            {#facilities in such a way to promote the healing of its occupants, has been#}
                                            {#researched for numerous years.#}
                                        {#</p>#}
                                    {#</div>#}
                                    {#<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">#}
                                        {#<span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>#}
                                        {#<span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>#}
                                        {#<span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <!-- FIN BLOC 6 -->


                <!-- BLOC 7 -->
                {#<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
                    {#<div class="m-portfolio_info">#}
                        {#<img class="img-responsive" alt=""#}
                             {#src="{{ asset('bundles/frontpage/assets/images/portfolio_07.jpg') }}">#}
                        {#<div class="m-portfolio_info_text">#}
                            {#<div>#}
                                {#<i class="fa fa-expand  m-expand_popup"></i>#}
                                {#<a href="portfolio_single.html"><i class="fa fa-search"></i></a>#}
                                {#<h3><a href="#">Earphones</a></h3>#}
                                {#<ul>#}
                                    {#<li><a href="#">interior</a></li>#}
                                    {#<li><a href="#">architecture</a></li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="m-portfolio_popup">#}
                        {#<div class="container">#}
                            {#<div class="m-portfolio_popup_outer">#}
                                {#<div class="m-close_popup">#}
                                    {#<i class="fa fa-times"></i>#}
                                {#</div>#}
                                {#<div class="m-popup_slider m-blog_slider_outer">#}
                                    {#<div class="m-blog_list_img" id="m-portfolio_07">#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="m-main_slide_nav">#}
                                        {#<a class="m-slide_left" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-left"></i></a>#}
                                        {#<a class="m-slide_right" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-right"></i></a>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="m-portfolio_single_text clearfix">#}
                                    {#<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">#}
                                        {#<p>#}
                                            {#The future of architecture constantly evolves as society grows and adopts#}
                                            {#different technologies. The introduction of more technologies allows for a#}
                                            {#the greater opportunity for creativity and innovation. One concept, known as#}
                                            {#“Healing Architecture,” or the designing of hospitals and healthcare#}
                                            {#facilities in such a way to promote the healing of its occupants, has been#}
                                            {#researched for numerous years.#}
                                        {#</p>#}
                                    {#</div>#}
                                    {#<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">#}
                                        {#<span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>#}
                                        {#<span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>#}
                                        {#<span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <!-- FIN BLOC 7 -->


                <!-- BLOC 8 -->
                {#<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
                    {#<div class="m-portfolio_info">#}
                        {#<img class="img-responsive" alt=""#}
                             {#src="{{ asset('bundles/frontpage/assets/images/portfolio_08.jpg') }}">#}
                        {#<div class="m-portfolio_info_text">#}
                            {#<div>#}
                                {#<i class="fa fa-expand  m-expand_popup"></i>#}
                                {#<a href="portfolio_single.html"><i class="fa fa-search"></i></a>#}
                                {#<h3><a href="#">Earphones</a></h3>#}
                                {#<ul>#}
                                    {#<li><a href="#">interior</a></li>#}
                                    {#<li><a href="#">architecture</a></li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="m-portfolio_popup">#}
                        {#<div class="container">#}
                            {#<div class="m-portfolio_popup_outer">#}
                                {#<div class="m-close_popup">#}
                                    {#<i class="fa fa-times"></i>#}
                                {#</div>#}
                                {#<div class="m-popup_slider m-blog_slider_outer">#}
                                    {#<div class="m-blog_list_img" id="m-portfolio_08">#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="m-main_slide_nav">#}
                                        {#<a class="m-slide_left" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-left"></i></a>#}
                                        {#<a class="m-slide_right" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-right"></i></a>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="m-portfolio_single_text clearfix">#}
                                    {#<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">#}
                                        {#<p>#}
                                            {#The future of architecture constantly evolves as society grows and adopts#}
                                            {#different technologies. The introduction of more technologies allows for a#}
                                            {#the greater opportunity for creativity and innovation. One concept, known as#}
                                            {#“Healing Architecture,” or the designing of hospitals and healthcare#}
                                            {#facilities in such a way to promote the healing of its occupants, has been#}
                                            {#researched for numerous years.#}
                                        {#</p>#}
                                    {#</div>#}
                                    {#<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">#}
                                        {#<span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>#}
                                        {#<span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>#}
                                        {#<span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <!-- FIN BLOC 8 -->

                <!-- BLOC 9 -->
                {#<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
                    {#<div class="m-portfolio_info">#}
                        {#<img class="img-responsive" alt=""#}
                             {#src="{{ asset('bundles/frontpage/assets/images/portfolio_09.jpg') }}">#}
                        {#<div class="m-portfolio_info_text">#}
                            {#<div>#}
                                {#<i class="fa fa-expand  m-expand_popup"></i>#}
                                {#<a href="portfolio_single.html"><i class="fa fa-search"></i></a>#}
                                {#<h3><a href="#">Earphones</a></h3>#}
                                {#<ul>#}
                                    {#<li><a href="#">interior</a></li>#}
                                    {#<li><a href="#">architecture</a></li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="m-portfolio_popup">#}
                        {#<div class="container">#}
                            {#<div class="m-portfolio_popup_outer">#}
                                {#<div class="m-close_popup">#}
                                    {#<i class="fa fa-times"></i>#}
                                {#</div>#}
                                {#<div class="m-popup_slider m-blog_slider_outer">#}
                                    {#<div class="m-blog_list_img" id="m-portfolio_09">#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                        {#<div>#}
                                            {#<img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}"#}
                                                 {#class="img-responsive" alt="">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="m-main_slide_nav">#}
                                        {#<a class="m-slide_left" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-left"></i></a>#}
                                        {#<a class="m-slide_right" href="javascript:void(0)"><i#}
                                                    {#class="fa fa-angle-right"></i></a>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="m-portfolio_single_text clearfix">#}
                                    {#<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">#}
                                        {#<p>#}
                                            {#The future of architecture constantly evolves as society grows and adopts#}
                                            {#different technologies. The introduction of more technologies allows for a#}
                                            {#the greater opportunity for creativity and innovation. One concept, known as#}
                                            {#“Healing Architecture,” or the designing of hospitals and healthcare#}
                                            {#facilities in such a way to promote the healing of its occupants, has been#}
                                            {#researched for numerous years.#}
                                        {#</p>#}
                                    {#</div>#}
                                    {#<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">#}
                                        {#<span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>#}
                                        {#<span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>#}
                                        {#<span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <!-- FIN BLOC 9 -->

            </div>
        </div>
    </div>
</section>
<!-- END PORTFOLIO -->