{% extends 'base.html.twig' %}

{% block body %}
    <h1>Multimedia list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for multimedia in multimedia %}
            <tr>
                <td><a href="{{ path('multimedia_show', { 'id': multimedia.id }) }}">{{ multimedia.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('multimedia_show', { 'id': multimedia.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('multimedia_edit', { 'id': multimedia.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('multimedia_new') }}">Create a new multimedia</a>
        </li>
    </ul>
{% endblock %}
